In [1]:
#dictionary: 요일별로 각 시간대에 저장할 데이터 {num, wnum, ynum}

In [2]:
#7X24 크기의 리스트 필요

In [3]:
a1 = []

In [4]:
a1.append({'num':0, 'wnum':0, 'ynum':0})

In [5]:
a1.append({'num':0, 'wnum':0, 'ynum':0})

In [6]:
a1.append({'num':0, 'wnum':0, 'ynum':0})

In [7]:
a1.append({'num':0, 'wnum':0, 'ynum':0})

In [8]:
a1.append({'num':0, 'wnum':0, 'ynum':0})

In [9]:
a1.append({'num':7, 'wnum':5, 'ynum':6})

In [10]:
a1.append({'num':4, 'wnum':1, 'ynum':3})

In [11]:
a1.append({'num':20, 'wnum':1, 'ynum':16})

In [12]:
a1.append({'num':22, 'wnum':0, 'ynum':16})

In [13]:
a1.append({'num':17, 'wnum':4, 'ynum':16})

In [14]:
a1.append({'num':5, 'wnum':1, 'ynum':5})

In [15]:
a1.append({'num':13, 'wnum':5, 'ynum':13})

In [16]:
a1.append({'num':19, 'wnum':11, 'ynum':18})

In [17]:
a1.append({'num':9, 'wnum':5, 'ynum':1})

In [18]:
a1.append({'num':14, 'wnum':10, 'ynum':4})

In [19]:
a1.append({'num':18, 'wnum':16, 'ynum':4})

In [20]:
a1.append({'num':15, 'wnum':13, 'ynum':2})

In [21]:
a1.append({'num':13, 'wnum':5, 'ynum':10})

In [22]:
a1.append({'num':18, 'wnum':13, 'ynum':14})

In [23]:
a1.append({'num':16, 'wnum':16, 'ynum':13})

In [24]:
a1.append({'num':8, 'wnum':5, 'ynum':7})

In [25]:
a1.append({'num':10, 'wnum':8, 'ynum':7})

In [26]:
a1.append({'num':10, 'wnum':8, 'ynum':10})

In [27]:
a1.append({'num':4, 'wnum':0, 'ynum':3})

In [28]:
a2 = []

In [29]:
a2.append({'num':0, 'wnum':0, 'ynum':0})

In [30]:
a = [a1, a2]

In [31]:
#2차원 리스트의 첫 번째 리스트 출력하기

In [32]:
for i in range(0, len(a[0])):
    print('MON[', i, '] = ', a[0][i])

MON[ 0 ] =  {'num': 0, 'wnum': 0, 'ynum': 0}
MON[ 1 ] =  {'num': 0, 'wnum': 0, 'ynum': 0}
MON[ 2 ] =  {'num': 0, 'wnum': 0, 'ynum': 0}
MON[ 3 ] =  {'num': 0, 'wnum': 0, 'ynum': 0}
MON[ 4 ] =  {'num': 0, 'wnum': 0, 'ynum': 0}
MON[ 5 ] =  {'num': 7, 'wnum': 5, 'ynum': 6}
MON[ 6 ] =  {'num': 4, 'wnum': 1, 'ynum': 3}
MON[ 7 ] =  {'num': 20, 'wnum': 1, 'ynum': 16}
MON[ 8 ] =  {'num': 22, 'wnum': 0, 'ynum': 16}
MON[ 9 ] =  {'num': 17, 'wnum': 4, 'ynum': 16}
MON[ 10 ] =  {'num': 5, 'wnum': 1, 'ynum': 5}
MON[ 11 ] =  {'num': 13, 'wnum': 5, 'ynum': 13}
MON[ 12 ] =  {'num': 19, 'wnum': 11, 'ynum': 18}
MON[ 13 ] =  {'num': 9, 'wnum': 5, 'ynum': 1}
MON[ 14 ] =  {'num': 14, 'wnum': 10, 'ynum': 4}
MON[ 15 ] =  {'num': 18, 'wnum': 16, 'ynum': 4}
MON[ 16 ] =  {'num': 15, 'wnum': 13, 'ynum': 2}
MON[ 17 ] =  {'num': 13, 'wnum': 5, 'ynum': 10}
MON[ 18 ] =  {'num': 18, 'wnum': 13, 'ynum': 14}
MON[ 19 ] =  {'num': 16, 'wnum': 16, 'ynum': 13}
MON[ 20 ] =  {'num': 8, 'wnum': 5, 'ynum': 7}
MON[ 21 ] =  {'num': 10, 'wnum': 8, 'ynum': 7}
MON[ 22 ] =  {'num': 10, 'wnum': 8, 'ynum': 10}
MON[ 23 ] =  {'num': 4, 'wnum': 0, 'ynum': 3}